[bumpversion]
current_version = 0.4.1

[bumpversion:file:docker/prod/rest-harvester/Dockerfile]

[bumpversion:file:docker/prod/stream-harvester/Dockerfile]

[bumpversion:file:docker/prod/rest-exporter/Dockerfile]

[bumpversion:file:docker/prod/stream-exporter/Dockerfile]

